:root {
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
  }

.alert {
    padding: 0.8rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
  }

  .alert-danger {
    background: var(--danger-color);
    color: #fff;
  }

  .alert-wrapper {
    position:fixed;
    top: 0rem;
    right: 53rem;
    display: inline-block;
  }