.line-page-conatiner-title h2 {
  color: black;
  font-style: italic;
  margin-bottom: 65px;
  margin-left: 20px;
}

.line-page-conatiner-form-group {
  margin-bottom: 5px;
}

.line-page-conatiner-form-group-add-line {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.line-page-conatiner-form-group-add-line input {
  flex: 1;
  width: 38vh;
}

.line-page-conatiner-form-group-add-line button {
  margin-top: 7px;
  margin-left: 12px;
  height: 30px;
  background: transparent;
  border: none;
  justify-content: center;
  white-space: nowrap;
}

.line-page-conatiner-form-group-add-line button:hover {
  letter-spacing: 1px;
  cursor: pointer;
  transform: scale(1.03);
}

.line-page-conatiner-form-group-add-line button i {
  font-size: 42px;
  font-weight: 500;
  background: transparent;
  border: 5px black;
  color: black;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

/* Container for the list */
.line-page-conatiner-form-group-line-list {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  list-style: none;
  max-height: 630px;
  overflow-y: auto; /* Changed to vertical scroll for better readability */
  padding: 0;
  margin: 0;
  border-radius: 8px;
  background-color: #ddebe4;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

/* Custom scrollbar styling */
.line-page-conatiner-form-group-line-list::-webkit-scrollbar {
  width: 10px;
}

.line-page-conatiner-form-group-line-list::-webkit-scrollbar-thumb {
  background: #8fb398;
  border-radius: 5px;
}

.line-page-conatiner-form-group-line-list::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Styling for each list item */
.line-page-conatiner-form-group-line-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: #ffffff;
  color: black;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 12px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Hover effect for list items */
.line-page-conatiner-form-group-line-item:hover {
  background: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Remove button styling */
.line-page-conatiner-form-group-line-item-remove-btn {
  display: flex;
  color: black;
  align-items: center;
}

.line-page-conatiner-form-group-line-item-remove-btn button {
  border: none;
  font-size: 18px;
  background: transparent;
  color: black;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-left: 16px;
}

.line-page-conatiner-form-group-line-item-remove-btn button:hover {
  transform: scale(1.05);
}

.line-page-conatiner-form-group-line-item-remove-btn button i {
  color: black;
}
