.card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 30px;
  max-width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  overflow: hidden;
  background-color: #f0f0f0;
}

.card-image {
  max-width: 120px;
  max-height: 120px;
  object-fit: contain;
}

.card-content {
  padding: 20px 25px;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-name {
  font-size: 1.375rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

.card-description {
  font-size: 1rem;
  color: #777;
  margin-bottom: 20px;
}

.card-link {
  color: #00bcd4;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
  margin-top: auto;
}

.card-link:hover {
  color: #0288d1;
}

@media (max-width: 768px) {
  .card {
    max-width: 300px;
    height: auto;
    margin: 20px;
  }

  .card-name {
    font-size: 1.125rem;
  }

  .card-description {
    font-size: 0.875rem;
  }

  .card-image-container {
    height: 80px;
  }

  .card-image {
    max-width: 100px;
    max-height: 100px;
  }
}
